{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" class="rel">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Tagging System</title>
</head>
<body>
   
    <div class="wrapper">
        
        
        <form >
            
            <h1>Tagging System</h1>
            
            <img src="{%static 'images/logo.png'%}" alt="Paris" class="center">
            
           
            <div class="input-box">
                <label for="Question"style="color: hsl(217, 36%, 46%)">QUESTION</label>
                <textarea id = "quesarea" class="quesarea">{{res.question}} </textarea>
                     
                
            </div><br>
            <div class="input-box0">
                <label for="Title"style="color: hsl(217, 36%, 46%)"> GENERATED TAGS</label>
                <textarea  id="tagarea" class="tagarea" rows="4"cols="10">{{res.tags}}</textarea>
                
            </div>                      
        </form>
        <button onclick="myFunction()" class="btn btn1" >Copy Tags</button> 
    </div>
</body>
<script>
    function myFunction() {
        // Get the text field
        var copyText = document.getElementById("tagarea");
       
        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices
         // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        // Alert the copied text
        alert("Copied the text: " + copyText.value);
      }
</script>
</html>