* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: blue ;
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.wrapper{
    width: 750px;
    background: #8CB5DB;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}


.wrapper1{
    width: 800px;
    background: #8CB5DB;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}


.wrapper h1{
    
    font-size: 60px;
    font-family: 'Montserrat';
    
    text-align: center;
}
.wrapper1 h1{
    font-size: 70px;
    text-align: center;
}
/* .wrapper h2{
    font-size: 30px;
    font-family: 'Montserrat';
    text-align: center;
} */
.wrapper1 h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat';
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 40px;
    font-family: 'Montserrat';
    
    margin: 20px 0;
}
.wrapper .input-box label{
    font-size: 20px;
}
.wrapper .input-box0{
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-family: 'Montserrat';
    
    margin: 20px 0;
}
.wrapper .input-box0 label{
    font-size: 20px;
    margin-top: 10px;
}


.wrapper1 .input-box{
    position: relative;
    
    float: right;
    
    width: 60%;
    height: 50px;
    
    margin: 30px 0;
    margin-top: -40px;
    font-family: 'Montserrat';
}
.wrapper1 .input-box{
    position: relative;
    
    float: right;
    
    width: 60%;
    height: 50px;
    
    margin: 30px 0;
    margin-top: -40px;
    font-family: 'Montserrat';
}
.wrapper1 .input-box{
    position: relative;
    
    float: right;
    
    width: 60%;
    height: 50px;
    
    margin: 30px 0;
    margin-top: -40px;
    font-family: 'Montserrat';
}
.wrapper1 .input-box1{
    position: relative;
    
    float: right;
    
    width: 60%;
    height: 50px;
    
    margin: 30px 0;
    margin-top: -50px;
    font-family: 'Montserrat';
}
.wrapper1 .input-box2{
    position: relative;
    
    float: right;
    
    width: 60%;
    height: 50px;
    
    margin: 30px 0;
    margin-top: -45px;
    font-family: 'Montserrat';
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    font-family: 'Montserrat';
    color:#fff;
    padding: 20px 45px 20px 20px;
}
.input-box0 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    margin-top: 4px;
    font-family: 'Montserrat';
    color:#fff;
    padding: 20px 45px 20px 20px;
}
.input-box1 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    font-family: 'Montserrat';
    color:#fff;
    padding: 20px 45px 20px 20px;
}
.input-box2 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    color:#fff;
    font-family: 'Montserrat';
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: #ffffff;
    font-family: 'Montserrat';

}
.input-box0 input::placeholder {
    color: #ffffff;
    font-family: 'Montserrat';

}
.input-box1 input::placeholder {
    color: #ffffff;
    font-family: 'Montserrat';

}
.input-box2 input::placeholder {
    color: #ffffff;
    font-family: 'Montserrat';

}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    
    font-size: 20px;
    font-family: 'Montserrat';
}
.input-box0 i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    
    font-size: 20px;
    font-family: 'Montserrat';
}
.input-box1 i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-family: 'Montserrat';
}
.input-box2 i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-family: 'Montserrat';
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: none;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    
    font-family: 'Montserrat';
    font-size: 100px;
    color: #ffffff;
    font-weight: 800;
    -webkit-transform-duration:0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.wrapper .btn:hover, .wrapper.btn:focus, .wrapper.btn:active{
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
   

}

.wrapper1 .btn{
    width: 38%;
    height: 45px;
    background: #4B6CA0;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 600;
    -webkit-transform-duration:0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

}
.wrapper1 .btn:hover, .wrapper1.btn:focus, .wrapper1.btn:active{
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
   

}
.wrapper .btn1{
    width: 50%;
    
    height: 45px;
    margin-top: 25px;
    margin-left: 150px;
    background: #4B6CA0;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 600;
    -webkit-transform-duration:0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.wrapper .btn1:hover, .wrapper.btn1:focus, .wrapper.btn1:active{
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
   

}

.wrapper1 .btn1{
    width: 38%;
    height: 45px;
    margin-top: 10px;
    background: hsl(217, 36%, 46%);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 600;
    -webkit-transform-duration:0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.wrapper1 .btn1:hover, .wrapper1.btn1:focus, .wrapper1.btn1:active{
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
   

}


